nextflow.enable.dsl = 2

process {
    // Default resources (can be overridden per process in main.nf)
    cpus = 16
    memory = '16 GB'
    time = '24h'
}

profiles {

    docker {
        // Enable Docker
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g) -v ${baseDir}/01_Data:/mnt"
        // Allow per-process containers as defined in main.nf
        process.container = ''
    }

}